* {
	margin: 0;
	padding: 0;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.pan-container {
	height: 60vh;
	width: 100%;
	background-color: white;
}

.cutting-board-container {
	height: 30vh;
	width: 100%;
}

.text-paragraph-container {
	height: 70%;
	width: 100%;
	background-image: url("images/cutting-board.jpeg");
	background-size: 100%;
	background-position: center;
}

.text-input-container {
	height: 20%;
	width: 100%;
	background-color: grey;
}

.text-input-field {
	height: 100%;
	width: 100%;
	font-size: 30px;
}

.text-paragraph {
	height: 100%;
	width: 100%;
	word-wrap: break-word;
	padding: 1% 10%;
	overflow: hidden;
}

.bootstrap-override.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	height: 5vh;
}

.pan {
	height: 100%;
	width: auto;
	background: url("images/FryingPan.png") no-repeat;
	background-size: contain;
	background-position: center;
}

.single-page-view {
	width: 100vw;
	height: 100vh;
}

.logo {
	max-height: 100%;
	max-width: 100%;
	float: left;
	margin-right: 10px;
}