* {
	margin: 0;
	padding: 0;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.text-center {
	text-align: center;
}

.pan-container {
	height: 60vh;
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.cutting-board-container {
	height: 30vh;
	width: 100%;
}

.text-paragraph-container {
	height: 70%;
	width: 100%;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 20px;
	padding:bottom: 10px;
}

.text-input-container {
	height: 20%;
	width: 100%;
	background-color: grey;
}

.typing {
	height: 100%;
	width: 100%;
	font-size: 30px;
}

.text-paragraph {
	height: 100%;
	width: 100%;
	word-wrap: break-word;
	padding: 1% 10%;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;

}

.bootstrap-override.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	height: 5vh;
	background-color: #19404F;
}

.pan {
	height: 100%;
	width: auto;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.single-page-view {
	width: 100vw;
	height: 100vh;
	background-color: #F2DCA2;
}

.logo {
	max-height: 100%;
	max-width: 100%;
	float: left;
	margin-right: 10px;
}


/* DONT TOUCH!! */
.right {
	color: #00ff00;
	text-decoration: underline;
}
.wrong {
	color: red;
	text-decoration: underline;
}
.divider {
	background-color: rgba(242, 242, 242, 0.3);
	height: 80%;
	position: relative;
	display: absolute;
	margin-left: 30px;
	margin-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#typing {
	text-align: center;
}

.score-board {
	height: 15vh;
	width: 15vw;
	background-color: brown;
	margin: 10px 20px;
	border-radius: 3px;
}

.score-label {
	padding-top: 10px;
}

#score {
	padding-bottom: 20px;
}

.broccoli-icon {
	height: 30px;
	width: auto;
}
<<<<<<< HEAD

.shop {
	visibility: hidden;
}
=======
>>>>>>> d0988422096e26725f30b9179df6484cd83e979a
